table.table { width: 100%; }

.table th, .table td { 
  text-align: left; 
  padding: 1em;
  margin: 1rem;
}

.table tr { 
  border-bottom: 1px solid #DDD;
}
td.edit-buttons { text-align: right; }


@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
  
}

