@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #6b6969;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #000564;
  border: 1px solid #01377a;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  color: white;
  align-items: center;
}

button:hover,
button:active {
  background-color: #719cce;
  border-color: #5eb7d5;
}
